<app-template-full-width title="Liste des clients" *ngIf="collection">
  <app-table-light [headers]="headers">
    <tr *ngFor="let client of collection">
      <td>
        <a (click)="goToDisplay(client.id)">
          <app-icon-info></app-icon-info>
        </a>
        <a (click)="goToEdit(client.id)">
          <app-icon-edit></app-icon-edit>
        </a>
        <a (click)="delete(client)">
          <app-icon-delete></app-icon-delete>
        </a>
      </td>

      <td>{{ client.id }}</td>
      <td>{{ client.nom}}</td>
      <td>{{ client.prenom}}</td>
      <td>{{ client.entreprise}}</td>
      <td>{{ client.email}}</td>
      <td>{{ client.telephone}}</td>
      <td>{{ client.mobile}}</td>
      <td>
        <select class="form-select" aria-label="Default select example" (change)="changeState(client, $event)">
          <option *ngFor="let state of states" [selected]="state === client.actif" [value]='state'>{{ state.toString() |
            uppercase
            }}</option>
        </select>
      </td>
      <td>{{ client.notes}}</td>
    </tr>
  </app-table-light>
  <app-btn label="Ajouter un client" route="add"></app-btn>
</app-template-full-width>
