<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="label">Label</label>
    <input type="text" class="form-control" id="label" formControlName="label">
  </div>

  <div class="form-group">
    <label for="tjmht">tjmht</label>
    <input type="number" class="form-control" id="tjmht" formControlName="tjmht">
  </div>

  <div class="form-group">
    <label for="dureejours">nb Jours</label>
    <input type="number" class="form-control" id="dureejours" formControlName="dureejours">
  </div>

  <div class="form-group">
    <label for="tva">TVA</label>
    <input type="number" class="form-control" id="tva" formControlName="tva">
  </div>

  <div class="form-group">
    <label for="state">Statut</label>
    <select class="form-control" id="state" formControlName="statut">
      <option *ngFor="let state of states" [value]="state">{{ state | uppercase }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" formControlName="typecommande">
      <option *ngFor="let type of types" [value]="type">{{ type | uppercase}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="notes">Notes</label>
    <textarea class="form-control" id="notes" formControlName="notes"></textarea>
  </div>

  <div class="form-group">
    <label for="idclient"># Client</label>
    <input type="number" class="form-control" id="idclient" formControlName="idclient">
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
