<app-template-full-width title="Liste des commandes" *ngIf="collection">
  <app-table-light [headers]="headers">
    <tr *ngFor="let order of collection">
      <td>
        <a (click)="goToEdit(order.id)">
          <app-icon-edit></app-icon-edit>
        </a>
        <a (click)="delete(order)">
          <app-icon-delete></app-icon-delete>
        </a>
      </td>
      <td>{{ order.id }}</td>
      <td>{{ order.label}}</td>
      <td>{{ order.dureejours}}</td>
      <td>{{ order.tjmht | currency}}</td>
      <td>{{ order.tjmht | total : order.dureejours | currency}}</td>
      <td>{{ order.tjmht | total : order.dureejours : order.tva | currency }}</td>
      <td>
        <select class="form-select" aria-label="Default select example" (change)="changeState(order, $event)">
          <option *ngFor="let state of states" [selected]='state === order.statut' [value]='state'>{{ state | uppercase
            }}</option>
        </select>
      </td>
      <td>
        <select class="form-select" aria-label="Default select example" (change)="changeType(order, $event)">
          <option *ngFor="let type of types" [selected]='type === order.typecommande' [value]='type'>{{ type | uppercase
            }}</option>
        </select>
      </td>
      <td>{{ order.notes}}</td>
      <td>{{ order.idclient}}</td>
    </tr>
  </app-table-light>
  <app-btn label="Ajouter une commande" route="add"></app-btn>
</app-template-full-width>
