<app-template-container title="Connexion">


  <main class="form-signin">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Connectez-vous :</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="login" placeholder="name@example.com" formControlName="login">
        <label for="login">Login</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="motDePasse" placeholder="password" formControlName="motDePasse">
        <label for="motDePasse">Password</label>
      </div>

      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>
</app-template-container>
