<ul class="nav flex-column">
  <li class="nav-item">
    <a routerLink="users/add" routerLinkActive="active" class="nav-link">Creer un compte</a>
  </li>
  <li class="nav-item">
    <a routerLink="sign-in" routerLinkActive="active" class="nav-link">Connexion</a>
  </li>
  <li class="nav-item">
    <a routerLink="clients" routerLinkActive="active" class="nav-link">Clients</a>
  </li>
  <li class="nav-item">
    <a routerLink="orders" routerLinkActive="active" class="nav-link">Commandes</a>
  </li>
  <li class="nav-item">
    <a routerLink="pif" routerLinkActive="active" class="nav-link">Page Not Found</a>
  </li>
</ul>
